body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.escarapela {
    width: auto;
    max-width: 500px;
}

.brand {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #888;
    font-size: 0.875rem;
}

.brand a{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}
